<!-- <% @client.mentions_timeline({:since_id => 467024588182798336}).each do |tweet| %>
  <h1><%= tweet.text %></h1>
  <% tweet.hashtags.each do |hashtag| %>
    <h1><%= hashtag %></h1>
  <% end %>
  <h1><%= tweet.uri() %></h1>
<% end %> -->

<!-- <h1><%= last_answered_tweet %></h1>

<% @tweets.each do |tweet| %>
<h1><%= tweet %></h1>
<% end %> -->